:root {
  --white: #ffffff;
  --gray: #d9d9d9;
  --black: #000000;
  --primary-color: #10513F;
  --secondary-color: #0f3711;
  --dark-secondary-color: #3c5c4c;
  --tertiary-color: #a6e1bd;
  --light-tertiary-color: #f3fbf5;
  --text-color: #344840;

  --font-family: 'DM Sans', montserrat;
}
