.direcionamento {
    margin-bottom: 10rem;
    scroll-margin-top: 5rem;   
    margin-top: -18rem;
    scroll-margin-top: 12rem;
}

.direcionamento .direcionamento__content {
    max-width: 56rem;
    text-align: center;
    margin: 0 auto 6rem;
}



.direcionamento ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
    margin-right: 10px;
    text-align: left;
}

.direcionamento ul li.direcionamento__reversed-list {
    flex-direction: row-reverse;
    margin-left: 10px;
    text-align: right;
}



.direcionamento ul li .image img {
    width: 100%;
    min-width: 40rem;
    max-width: 47rem;
    height: auto;
    border-radius: 8px;
}

.direcionamento .direcionamento__info button {
    margin-top: 2rem;
    width: 40%;
    cursor: pointer;
}

.direcionamento .direcionamento__info p {
    line-height: 25px;
    margin-top: 20px;
}

.direcionamento ul li .direcionamento__info {
    max-width: 47rem;
}

.direcionamento ul li .direcionamento__info p {
    margin: 1rem o 4rem;
}

.direcionamento ul li .direcionamento__info a {
    font-weight: 500;
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .direcionamento ul li,
    .direcionamento ul li.direcionamento__reversed-list {
        flex-direction: column;
    }

    .direcionamento ul li .direcionamento__info {
        max-width: 66rem;
    }

    .direcionamento ul li .image img {
        min-width: auto; 
    }
}