header {
    display: flex;
    width: 100%;
    max-width: 120rem;
    padding: 0 4rem;
    margin: 0 auto;
    margin-bottom: 20rem;
    margin-top: 10rem;
}

header .header__left {
    max-width: 62rem;
    flex: 1;
    margin-top: 20rem;
}

header .header__left h2 {
    margin-left: 2px;
}


header .header__left p {
    margin-top: 0rem;
    margin-bottom: 4rem;
    max-width: 50rem;
    margin-left: 2px;
}



header .header__right .header__image {
    position: relative;
    line-height: 0;
}



header .header__right .header__image {
    border-radius: 0.5rem;
    min-width: 25rem;
    max-width: 100%;
}

header .header__right .header__image .background {
    position: absolute;
    top: 4.5rem;
    right: 4.5rem;
    z-index: -1;
}

header .header__right .header__image {
    position: relative;
    left: 10rem;
    line-height: 0;
    margin-top: -7rem;

}



@media only screen and (max-width: 768px) {
    header {
        flex-direction: column-reverse;
        text-align: center;
    }

    header .header__left p {
        margin: 2rem auto 4rem;
    }

    header .header__right .header__image .background {
        margin: -8rem -8rem 0rem;
        width: 90%;
    }

}
