.web {
    background-color: var(--light-tertiary-color);
    scroll-margin-top: 15rem;
    margin-top: 20rem;
    max-width: 100%;
}

.web .web__content {
    padding: 6rem 4rem;
    text-align: center;
}

.web .web__content p {
    margin-bottom: 5rem;
}

.web .web__content .description {
    max-width: 56rem;
    margin: 0 auto 6rem;
}

.web .web__content ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.web .web__content ul li .image-conteiner {
    background-color: rgba(0, 0, 255, 0.411);
    padding: 2rem;
    border-radius: 50%;
    width: 11rem;
    height: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.web .web__content ul li h3 {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 3rem 0 1rem;
}

@media only screen and (max-width: 768px) {
    .web .web__content {
        width: 100%;
    }

}