@import url(reset.css);

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.services {
  flex: 1;
  color: #232224;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services p {
  color: #232224;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  width: 80%;
  margin-bottom: 2rem;
}

.services-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.services-content h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  color: #066621;
  font-weight: 600;
}

.services-content p {
  font-weight: 600;
  text-align: center;
  max-width: 780px;
}

.especialidades {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 2rem;
  background-color: white;
}

.especialidade {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
  overflow: hidden;
  transition: transform 0.5s;
}

.especialidade:hover {
  transform: scale(1.05);
  z-index: 1;
}

.especialidade img {
  width: 100%;
  max-width: 300px;
  transition: transform 0.5s;
  cursor: pointer;
  padding: 30px;
}

.especialidade img:hover {
  transform: scale(1.2);
  z-index: 1;
}




.especialidade-info {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #066621;
  z-index: 99;
}

.especialidade-info button {
  color: #fff;
  background-color: #066621;
  width: 350px;
  height: 50px;
  transition: transform 0.1s;
  cursor: pointer;
  font-weight: 600;
  border: none;
}

.especialidade button:hover {
  background-color: rgb(5, 171, 41);
  transform: transition(0.1s);
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .especialidades {
    flex-direction: column;
  }

  .especialidade img {
    max-width: 740px;
  }
}
