* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: 'Montserrat', sans-serif;
}

.site {
 display: flex;
 flex-direction: column;
 min-height: 100vh;
}


a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}


nav .nav-links ul {
  margin-right: 20px;
}

nav .nav-links ul li {
  display: flex;
  padding-left: 40px;
  font-weight: 600;
  color: #066621;
}

nav .nav-links ul li:hover {
  color: rgb(6, 213, 51);
  transform: transition(0.1s);
  z-index: 1;
}



.services {
  flex: 1;
  background-color: #18ca0400;
  color: #232224;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
  margin-top: 30px;
}

.services p {
  font-weight: 600;
}

.services-content h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  color: #066621;
  font-weight: 600;
}

.services-content p {
  font-weight: 600;
  text-align: center;
  max-width: 780px;
}

.especialidades {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 0 44px 34px 44px;
}

.especialidade {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
  overflow: hidden;
  transition: transform 0.5s;
}

.especialidade:hover {
  transform: scale(1.05);
  z-index: 1;
}

.especialidade img {
  width: 100%;
  max-width: 300px;
  transition: transform 0.5s;
  padding: 20px;
  cursor: pointer;
}

.especialidade img:hover {
  transform: scale(1.2);
  z-index: 1;
}



.especialidade-info {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 14px;
  background-color: #fff;
  z-index: 99;
}

.especialidade-info button {
  color: #fff;
  background-color: #066621;
  width: 150px;
  height: 35px;
  border-radius: 4px;
  border: 0;
  transition: transform 0.1s;
  cursor: pointer;
  font-weight: 600;
}

.especialidade button:hover {
  background-color: rgb(5, 171, 41);
  transform: transition(0.1s);
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .especialidades {
    flex-direction: column;
  }

  .especialidade img {
    max-width: 740px;
  }
}


/* ------------------------------------------------------------------- */
/* ------------------------- FOOTER ---------------------------------- */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(18, 125, 62);
  margin-top: 107px;
}

footer .footer__content {
  display: flex;
  text-align: center;
  height: 50px;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

footer .footer__content p {
  display: inline-block;

  color: white;
  font-size: 12px;
  max-width: 100%;

}

/* ------------------------- FIM - FOOTER ---------------------------- */
/* ------------------------------------------------------------------- */

