.formulario {
  margin-bottom: 16rem;
  scroll-margin-top: 5rem;
  margin-top: 22rem;
  scroll-margin-top: 12rem;
}

.formulario .formulario__content {
  max-width: 56rem;
  text-align: center;
  margin: 0 auto 6rem;
}



.formulario ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
  margin-right: 10px;
  text-align: left;
}

.formulario ul li.formulario__reversed-list {
  flex-direction: row-reverse;
  margin-left: 10px;
  text-align: right;
}

.formulario ul li:not(:last-of-type) {
  margin-bottom: 12rem;
}

.formulario ul li .image img {
  width: 100%;
  min-width: 40rem;
  max-width: 47rem;
  height: auto;
  border-radius: 8px;
}

.formulario .formulario__info button {
  margin-top: 2rem;
  width: 40%;
  cursor: pointer;
}

.formulario .formulario__info p {
  line-height: 25px;
  margin-top: 20px;
}

.formulario ul li .formulario__info {
  max-width: 47rem;
}

.formulario ul li .formulario__info p {
  margin: 1rem o 4rem;
}

.formulario ul li .formulario__info a {
  font-weight: 500;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {

  .formulario ul li,
  .formulario ul li.formulario__reversed-list {
    flex-direction: column;
  }

  .formulario ul li .formulario__info {
    max-width: 66rem;
  }

  .formulario ul li .image img {
    min-width: auto;
  }
}