/* ------------------------------------------------------------------- */
/* ------------------------- RESET CSS ------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ------------------------- FIM - RESET CSS ------------------------- */
/* ------------------------------------------------------------------- */


/* ------------------------------------------------------------------ */
/* ------------------------- BODY CONFIG ---------------------------- */
.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ------------------------- FIM - BODY ----------------------------- */
/* ------------------------------------------------------------------ */




/* ------------------------------------------------------------------- */
/* ------------------------- NAVBAR ---------------------------------- */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}


nav .nav-links ul {
  display: flex;

}

nav .nav-links ul li {
  display: flex;
  padding-left: 40px;
  font-weight: 600;
  color: #066621;
}

nav .nav-links ul li:hover {
  color: rgb(6, 213, 51);
  transform: transition(0.1s);
  z-index: 1;
}

/* ------------------------- FIM - NAVBAR ---------------------------- */
/* ------------------------------------------------------------------- */



/* ------------------------------------------------------------------- */
/* ------------------------- WEB SERVICES ---------------------------- */
.services {
  flex: 1;
  color: #232224;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  padding: 54px 14px;
  margin-top: 20px;
}


.services-content h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
  color: #066621;
  font-weight: 600;
}



.especialidades {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 0 44px 34px 44px;
  flex-direction: row;
  flex-wrap: wrap;
}

.especialidade {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
  /*overflow: hidden;*/
  cursor: pointer;
  transition: transform 0.5s;
  padding: 20px;
  min-width: 300px;
  max-width: 300px;
}

.especialidade:hover {
  transform: scale(1.05);
  z-index: 1;
}

.especialidade img {
  display: flex;
  width: 100%;
  max-width: 150px;
  transition: transform 0.5s;
  cursor: pointer;
}

/*
.especialidade img:hover {
  transform: scale(1.2);
  z-index: 1;
}
*/


.especialidade-info {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
  z-index: 99;
}

.especialidade-info button {
  color: #fff;
  background-color: #066621;
  border-radius: 4px;
  border: 0;
  transition: transform 0.1s;
  cursor: pointer;
  font-weight: 600;
}

.especialidade button:hover {
  background-color: rgb(5, 171, 41);
  transform: transition(0.1s);
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .especialidades {
    flex-direction: column;
  }

  .especialidade img {
    max-width: 740px;
  }
}

/* ------------------------- FIM - WEB SERVICES ---------------------- */
/* ------------------------------------------------------------------- */




.section-forms {
  background-color: rgb(127, 255, 172);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;

}



.conteiner-forms {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
  /*overflow: hidden;*/
  
  cursor: pointer;
  transition: transform 0.5s;
  min-width: 70%;
  max-width: 100%;
  margin-bottom: 30px;
}

.conteiner-forms:hover {
  transform: scale(1.01);
  z-index: 1;
}


.formsconteiner-left {
  display: flex;
  flex-direction: row;
}

.img-conteiner {
  margin-left: 60px;
}

.img-conteiner img {
  width: 300px;
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.text-conteiner {
  
  width: 500px;
  margin-right: 200px;
  margin-left: 50px;
}

.text-conteiner h1 {
  margin-bottom: 40px;
  color: #066621;
}

.text-conteiner p {
  margin-bottom: 30px;
  font-weight: 500;
  color: #545554dd;
}


.text-conteiner button {
  color: #fff;
  background-color: #066621;
  width: 150px;
  height: 35px;
  border-radius: 4px;
  border: 0;
  transition: transform 0.5s;
  cursor: pointer;
  font-weight: 600;
}

.text-conteiner button:hover {
  background-color: rgb(5, 171, 41);
  transform: transition(0.1s);
  transform: scale(1.05);
  z-index: 1;
}

.divider {
  width: 100%;
  height: 150px;
}

















/* ------------------------------------------------------------------- */
/* ------------------------- FOOTER ---------------------------------- */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(18, 125, 62);
}

footer .footer__content {
  display: flex;
  text-align: center;
  height: 50px;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

footer .footer__content p {
  display: inline-block;

  color: white;
  font-size: 12px;
  max-width: 100%;

}

/* ------------------------- FIM - FOOTER ---------------------------- */
/* ------------------------------------------------------------------- */