@import url(/style/reset.css);





/* --- WEB SERVICES --- */
.services {
  flex: 1;
  color: #232224;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.services-content h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
  color: #066621;
  font-weight: 600;
}

.services-conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 90%;
}

.especialidades {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 0 44px 34px 44px;
  flex-direction: row;
  flex-wrap: wrap;
}

.especialidade {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.5s;
  padding: 20px;
  width: 400px;
  max-height: 150px;
}

.especialidade:hover {
  transform: scale(1.05);
  z-index: 1;
}

.especialidade img {
  display: flex;
  width: 90px;
  max-width: 150px;
  transition: transform 0.5s;
  cursor: pointer;
}

.especialidade-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}

.especialidade-info button {
  color: #fff;
  background-color: #066621;
  border-radius: 4px;
  border: 0;
  transition: transform 0.1s;
  cursor: pointer;
  font-weight: 600;
}

.especialidade button:hover {
  background-color: rgb(5, 171, 41);
  transform: transition(0.1s);
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .especialidades {
    flex-direction: column;
  }

  .especialidade img {
    max-width: 740px;
  }
}

/* formulários */
.section-forms {
  background-color: rgb(127, 255, 172);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.conteiner-forms {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
  overflow: hidden;
  transition: transform 0.5s;
  min-width: 68%;
  max-width: 50%;
  padding: 4rem;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 4rem;
  text-align: start;
}

.conteiner-forms:hover {
  transform: scale(1.01);
  z-index: 1;
}

.formsconteiner-left {
  display: flex;
  flex-direction: row;
}
.formsconteiner-left img {
  display: flex;
  width: 350px;
  min-width: 300px;
  margin-left: 70px;
}


.text-conteiner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
}

.text-conteiner h1 {
  margin-bottom: 40px;
  color: #066621;
  font-size: 24px;
}

.text-conteiner p {
  margin-bottom: 30px;
  font-weight: 500;
  color: #2f2f2fdd;
  
}

.text-conteiner button {
  color: #fff;
  background-color: #066621;
  width: 150px;
  height: 35px;
  border-radius: 4px;
  border: 0;
  transition: transform 0.5s;
  cursor: pointer;
  font-weight: 600;
}

.text-conteiner button:hover {
  background-color: rgb(5, 171, 41);
  transform: transition(0.1s);
  transform: scale(1.05);
  z-index: 1;
}

.divider {
  width: 100%;
  height: 150px;
}


@media screen and (max-width: 1500px) {
  .section-forms .conteiner-forms {
    flex-direction: column;
    padding: 50px;
    align-items: center;
  }

  .section-forms .conteiner-forms img {
    min-width: 350px;
    margin: 0;
  }

  .text-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}