ramal {
    display: flex;
    width: 100%;
    max-width: 130rem;
    padding: 0 4rem;
    margin: 0 auto;
    margin-bottom: 15rem;
    margin-top: -14rem;
}

ramal .ramal__right {
    margin-top: 15rem;
    margin-left: -20rem;
}

ramal .ramal__right h1 {
    font-size: 30px;
    margin-bottom: 25px;
}


ramal .ramal__right .ramal_conteiner {
    max-width: 600px;
    font-size: 14px;
    padding-right: 20px;
    
    /* ou qualquer valor desejado para o contêiner */
    
}
ramal .ramal__right .ramal_conteiner ul {    
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

ramal .ramal__right .ramal_conteiner .ramal_number {
    margin-bottom: 15px;
    list-style-type: disc;
    width: 45%;
    justify-content: auto;
}

ramal .ramal__left a img {
    
    
}

ramal .ramal__left .ramal__image {
    position: relative;
    line-height: 0;
}



ramal .ramal__left .ramal__image {
    border-radius: 0.5rem;
    min-width: 25rem;
    max-width: 100%;
}


ramal .ramal__left .ramal__image {
    position: relative;
    right: 6rem;
    line-height: 0;
    top: 5rem;

}

