/* --- RESET CSS --- */
@import url(/style/reset.css);


/* --- CONTATOS --- */
.services {
  flex: 1;
  color: #232224;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.services-content h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
  color: #066621;
  font-weight: 600;
}

.services-conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 90%;
}

.especialidades {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 40px;
  padding: 0 44px 34px 44px;
  flex-direction: row;
  flex-wrap: wrap;
}

.especialidade {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
  cursor: default;
  transition: transform 0.5s;
  padding: 20px;
  min-width: 400px;
  max-width: 300px;
}

.especialidade:hover {
  transform: scale(1.01);
  z-index: 1;
}

.especialidade img {
  display: flex;
  width: 100%;
  max-width: 150px;
  transition: transform 0.5s;
  cursor: pointer;
}

/*
.especialidade img:hover {
  transform: scale(1.2);
  z-index: 1;
}
*/


.especialidade-info {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
  z-index: 99;
  margin-bottom: 50px;
  color: #066621;
}

.especialidade-info button {
  color: #fff;
  background-color: #066621;
  border-radius: 4px;
  border: 0;
  transition: transform 0.1s;
  cursor: pointer;
  font-weight: 600;
}

.especialidade button:hover {
  background-color: rgb(5, 171, 41);
  transform: transition(0.1s);
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .especialidades {
    flex-direction: column;
  }

  .especialidade img {
    max-width: 740px;
  }
}

.ramal_conteiner-internos {
  display: flex;
  align-items: center;
  justify-content: baseline;
}

.ramal_conteiner-internos ul li {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 60px;
  width: 100%;
  font-weight: 500;
  list-style-type: none;
}


.ramal_number a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ramal_number a img {
  margin-left: 10px;
}

.ramal_number img {
  width: 50px;
}

li {
  padding: 10px;
}
