.ramal {
    background-color: white;
    scroll-margin-top: 15rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.ramal .ramal__content {
    padding: 6rem 4rem;
    text-align: center;
}

.ramal .ramal__content .description {
    max-width: 56rem;
    margin: 0 auto 6rem;
}

.ramal .ramal__content ul {
    margin: auto;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    gap: 5rem;
}

.ramal .ramal__content ul li .image-conteiner {
    background-color: rgba(66, 66, 66, 0.286);
    padding: 2rem;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.0);
    margin: 0 auto;
}

.ramal .ramal__content ul li h3 {
    margin-top: 1rem;
    font-size: 1.6rem;
    margin: 3rem auto 5;
}

.ramal .ramal__content ul li p {
    font-size: 1.5rem;    
}